{sub_dirs, [
            "apps/phptask"
           ]}.
{erl_opts, [
  debug_info, 
  % warnings_as_errors,
  {parse_transform, lager_transform}
]}.

{require_otp_vsn, "R14"}.

{lib_dirs, ["deps", "apps"]}.

{deps, [
  {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {'erldis', ".*", {git, "git://github.com/japerk/erldis.git", "master"}}
]}.
